numpy
matplotlib
scipy
scikit-learn
scikit-image
librosa
Pillow
cython
pytorch
tensorflow>=2.0.0
tensorboard
tensorflow-hub
tensorflow-estimator==2.3.0
opencv-python
autolab_core
h5py
imgaug
Wave
IPython[all]